PORT=3000
CORS_ORIGINS=
JWT_SECRET=
DATABASE_URL=
CLIENT_URL=

PAYMENT_PROVIDER=paystack
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_SECRET_HASH=

RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_REPLY_TO=

COOKIE_SAME_SITE=none
COOKIE_SECURE=true
